.dice-number {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    border: 3px solid black;
    font-size: 3em;
    padding-left: 0.5em;
}

.score-sheet {
    height: 40px;
    width: 120px;
    border: 1px solid black;
    font-size: 1em;
}


.in-line {
     display: inline-block;
}

ul {
    list-style-type: none;
}
